* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
  }
  body {
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    background-color: #b0ffac;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23033a05' fill-opacity='0.07' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    color: #b0ffac;
    color: none;
    font-size: 30px;
}

a{
    color: #006400;
    text-decoration:none;
}

.container{
    width: 90%;
    margin: auto;
}
.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px ;
}

.nav-brand{
    width: 8%;
    margin: 0%;
}
.nav-main ul {
    display: flex;
}
  
.nav-main ul li {
    padding: 10px;
}

.nav-main ul li {
    padding: 23px;
  }

.nav-main ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
 
.showcase{
    width: 100%;
    margin: 0%;
    background-color:darkgreen;
    color:white;
    float: right;
    text-align: center;
}

.paragraph{
    color:black;
    background-color: white;
    font-size: 100%;
    line-height: 155%;
    padding: 1.3%;
    text-align: justify;
    width: 52.3%;
    float: left;
}

.showcase2{
    width: 100%;
    margin: 0%;
    background-color:darkgreen;
    color:white;
    float: right;
    text-align: center;
}

.paragraph2{
    color:black;
    background-color: white;
    font-size: 80%;
    line-height: 155%;
    padding: 1.3%;
    text-align: justify;
    width: 52.3%;
    float: left;
}

a1{
    color:black;
    text-decoration:none;
    text-align: justify;
}


.caracter-brand{
    width: auto;
    margin: 0%;
    float:right;
    padding: 20px ;
    display: block ;
    max-width: 47.7%;
    height: auto;
    margin-bottom: -5px;
}


.head-brand{
    width: 98%;
    margin: 1%;
}

.footer-text{
    width: 100%;
    background-color:darkgreen;
    color:white;
    font-size: 50%;
    float: right;
    padding: 1%;
}
.ub-brand{
    width: 5%;
    margin-right: 2%;
    float: right; 
    padding-right: -1%;
}

.definition-brand{
    width: auto;
    margin: 0%;
    float: right;
    padding: -40px ;
    display: block ;
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}