

.nav-brand{
    width: 8%;
    margin: 0%;
}
.nav-main ul {
    display: flex;
}
  
.nav-main ul li {
    padding: 10px;
}

.nav-main ul li {
    padding: 23px;
  }

.nav-main ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
 
.showcase{
    width: 100%;
    margin: 0%;
    margin-bottom: 20PX;
    background-color:darkgreen;
    color:white;
    float: right;
    text-align: center;
}

.paragraph{
    color:black;
    background-color: white;
    font-size: 100%;
    margin-bottom: 20px;
    line-height: 155%;
    padding: 1.3%;
    text-align: justify;
    width: 52.3%;
    float: left;
}

.showcase2{
    width: 100%;
    margin: 0%;
    margin-bottom: 20px;
    background-color:darkgreen;
    color:white;
    float: right;
    text-align: center;
}

.paragraph2{
    color:black;
    background-color: white;
    font-size: 80%;
    margin-bottom: 20px;
    line-height: 155%;
    padding: 1.3%;
    text-align: justify;
    width: 52.3%;
    float: left;
}

a1{
    color:black;
    text-decoration:none;
    text-align: justify;
}


.caracter-brand{
    width: auto;
    margin: 0%;
    float:right;
    padding: 20px ;
    display: block ;
    max-width: 47.7%;
    height: auto;
    margin-bottom: -5px;
}


.head-brand{
    width: 98%;
    margin: 1%;
}

.footer-text{
    width: 100%;
    background-color:darkgreen;
    color:white;
    font-size: 50%;
    float: right;
    padding: 1%;
}
.ub-brand{
    width: 5%;
    margin-right: 2%;
    float: right; 
    padding-right: -1%;
}

.definition-brand{
    width: auto;
    margin: 0%;
    float: right;
    padding: -40px ;
    display: block ;
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
}